<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="Access-Control-Allow-Origin" content="*">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <title>v-model</title>
</head>

<body>
    <div id="app">
        <h1>Chapter 1</h1>
        <label><input type="radio"  v-model="rvalue" value="一">一</label>
        <label><input type="radio"  v-model="rvalue" value="二">二</label>
        <label><input type="radio"  v-model="rvalue" value="三">三</label>
        <p>选中的value值为{{rvalue}}</p>
    </div>
    <script>
        new Vue({
            el: '#app',
            data: {
                rvalue: '二'
            }
        });

    </script>
</body>

</html>
